.container {
    background-color: var(--slate-50);
    text-align: center;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 2rem;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
}

@media (max-width: 768px) {
    .container {
        padding: 1.5rem; /* Menos padding en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .container {
        padding: 1rem; /* Aún menos padding en pantallas muy pequeñas */
    }
}